
        body {
            margin:0px;
            font-family: "Poppins", sans-serif;
            background-color: #121629;
        }

        #nav{
            background-color: #fffffe;
            width:1280px;
            height:auto;
            padding:10px;
            display:flex;
            flex-direction: row;
            justify-content: center;
            color:#232946;
            position:fixed;
            z-index: 1;
        }

        #nav > a,h1 {
            
            margin:auto;
            transition:2s;
            cursor:pointer;
            font-weight:900px;
        }

        #nav > a {
            margin:auto;
            transition:750ms;
            cursor:pointer;
            font-size: 20px;
            text-decoration:white underline;
            color:#232946;
        }

        #nav > h1 {
            margin-left:5px;
        }
      
        #nav > a:hover {
            color:black;
            background-color: white;
            padding: 10px;
            font-size:20px;
            text-decoration:underline;
            text-decoration-color: #b8c1ec;
        }

        #reveal-tab {
            display:block;
            flex-direction: column;
            width:1260px;
            height:max-content;
            margin:10px;
            background-color: #121629;
            color:White;
            margin-top:50px;
            margin-bottom:50px;
        }

        #reveal-tab-title {
            display: flex;
            justify-self: center;
            font-size:55px;
            width:max-content;
            
        }

        #reveal-tab-subtitle {
            font-weight: lighter;
            font-size:30px;
            width:350px;
            margin:auto;
        }

       #actual-theme {
        background-color: #121629;
        display:none;
        height:min-content;
       }

       #theme-image {
        opacity: 0%;
        transition:2s;
        width:1270px;
        height:auto;
        margin-top:0px;
        margin-bottom:0px;
       }

        #committees-anim {
            margin-top:0px;
            width:1260px;
            height:auto;
        }

        #statecraft-returns-image {
            width:1260px;
            height: auto;
            margin-top:20px;
            margin-bottom: 0px;
        }

        #general-rules-reg-img {
            width:1260px;
            height:auto;

        }

        #general-rules-regs {
            background-color: #b8c1ec;
            color:#121629;
            font-size:20px;
            line-height:50px;
        }



    